<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<ul class="nav nav-list">
					<li class="active">
						<a href="/myadmin/dashboard">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text">
								Staff Members
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/add_staff">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Staff
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/read_staff">
									<i class="menu-icon fa fa-caret-right"></i>
									All Staff
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text">
								Client
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/add_client">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Client
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/read_client">
									<i class="menu-icon fa fa-caret-right"></i>
									All Client
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text">
								Location
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/myadmin/add_state">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New State
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_state">
									<i class="menu-icon fa fa-caret-right"></i>
									All States
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/myadmin/add_city">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New City
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_city">
									<i class="menu-icon fa fa-caret-right"></i>
									All Cities
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/myadmin/add_area">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Area
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/all_area">
									<i class="menu-icon fa fa-caret-right"></i>
									All Areas
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-book"></i>
							<span class="menu-text">
								Manages Cases
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/myadmin/add_case">
									<i class="menu-icon fa fa-caret-right"></i>
									Add New Case
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/myadmin/read_case">
									<i class="menu-icon fa fa-caret-right"></i>
									All Cases
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					 
					<li class="">
						<a href="/myadmin/search_case/">
							<i class="menu-icon fa fa-search"></i>
							<span class="menu-text">Search Case</span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/myadmin/all_dates">
							<i class="menu-icon fa fa-calendar"></i>
							<span class="menu-text">Upcoming Hearing</span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/myadmin/read_appointment">
							<i class="menu-icon fa fa-calendar"></i>
							<span class="menu-text">Appointment</span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/myadmin/inquiry">
							<i class="menu-icon fa fa-envelope-o"></i>
							<span class="menu-text"> Inquiries </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="/myadmin/feedback">
							<i class="menu-icon fa fa-comment-o"></i>
							<span class="menu-text"> Feedback </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="active">
						<a href="/myadmin/logout/">
							<i class="menu-icon fa fa-sign-out"></i>
							<span class="menu-text"> Logout </span>
						</a>

						<b class="arrow"></b>
					</li>

					

				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
