{% extends 'client/common/layout.html'%}
{% load static %}

{% block content %}

<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Make An Appointment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="content">
        <div class="container" >
            <div class="row">
                 
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 align="center">Appointment</h1>
                         
                        <form method="post"  action="/client/store_appointment/">
                          {% csrf_token %} 
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Subject</label>
                                    <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" >Description</label>
                                            <textarea class="form-control" id="description" name="description" rows="6" placeholder="Description"></textarea>
                                        </div>
                                </div>
                                  
                                <div class="col-md-12">
                                     <button class="btn btn-default" type="submit" id="submit" name="submit">Send</button>
                                </div>
                                 
                                 
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}