{% extends 'client/common/layout.html'%}
{% load static %}

{% block content %}

<div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="hero-title">Web Court</h1>
                    <p class="hero-text">A System Where Everything Related to Law and Administration Is Provided at One Touch.
                    </p>
                    <a href="#" class="btn btn-default">Slider Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="mb60 text-center section-title">
                        <!-- section title start-->
                        <h5>Our Staff Members</h5>
                        <h1>Wide Range of Law Services</h1>
                        <p>As per the rules of the Bar Council of India, we are not permitted to solicit work or advertise for our services.An advocate is a professional in the field of law. Different countries' legal systems use the term with somewhat differing meanings.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/testimonial-1.jpg'%}" height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Jr.Lawyer</a></h2>
                            <p>Write your service content here and describe more in readmore btn. Ibus sapien non rhoncus congue.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/testimonial-2.jpg'%}" height="260" width="230"alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Legal Adviser</a></h2>
                            <p>Write your service content here and describe more in readmor ictum arcu ac ldunt nunc ullamcorper. </p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/testimonial-3.jpg'%}"height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Corporate Specialist</a></h2>
                            <p>Write your service content here and describe more in readmore ons velit, a malesuada urna sodales eu.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="#"><img src="{% static 'client/images/testimonial-4.jpg'%}"height="260" width="230" alt="" class="img-responsive"></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="#" class="title">Data Manager</a></h2>
                            <p>Write your service content here and describe more in readmore ongue ia malesuada urna sodales veliteu.</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
            </div>
        </div>
    </div>
    <div class="space-small bg-primary">
        <!-- call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <h1 class="cta-title">Learn About Your Rights</h1>
                    <p class="cta-text">Your Rights Are Important So Learn About Your Rights </p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <a href="#" class="btn btn-white btn-lg mt20">Your Rights</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.call to action -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb60 text-center">
                        <!-- section title start-->
                        <h1>Meet Our Advocate</h1>
                        <p>An advocate is a professional in the field of law. Different countries' legal systems use the term with somewhat differing meanings. The broad equivalent in many English law–based jurisdictions could be a barrister or a solicitor.</p>
                    </div>
                    <!-- /.section title end-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        <!-- team block start-->
                        <div class="team-img"><img src="{% static 'client/images/team1.jpg'%}" height="310" width="262"></div>
                        <div class="team-content">
                            <h2 class="team-title">Adv.Sylvia Rosas</h2>
                            <div class="team-meta"><span class="team-designation">Consulting</span></div>
                        </div>
                    </div>
                    <!-- team block end -->
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        <!-- team block start-->
                        <div class="team-img"><img src="{% static 'client/images/team2.jpg'%}" height="310" width="262"></div>
                        <div class="team-content">
                            <h2 class="team-title">Adv.Ray Wilford</h2>
                            <div class="team-meta"><span class="team-designation">Crime Specialist</span></div>
                        </div>
                    </div>
                    <!-- team block end -->
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        <!-- team block start-->
                        <div class="team-img"><img src="{% static 'client/images/team3.jpg'%}"height="310" width="262"></div>
                        <div class="team-content">
                            <h2 class="team-title">Adv.Donna Handy</h2>
                            <div class="team-meta"><span class="team-designation">Property Specialist</span></div>
                        </div>
                    </div>
                    <!-- team block end -->
                </div>
                <div class="col-lg-3 col-sm-3 col-sm-6 col-xs-12">
                    <div class="team-block">
                        <!-- team block start-->
                        <div class="team-img"><img src="{% static 'client/images/team4.jpg'%}"height="310" width="262"></div>
                        <div class="team-content">
                            <h2 class="team-title">Adv.Terry Cruz</h2>
                            <div class="team-meta"><span class="team-designation">Divorce Specialist</span></div>
                        </div>
                    </div>
                    <!-- team block end -->
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb60 text-center">
                        <!-- section title start-->
                        <h1>Our Client’s Review</h1>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Helped with my broken knee and a nasty attack of sciatica Wouldn't go anywhere Thanks to the wonderful staff! vitae odio non luctus cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus in tempor.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Rose Jacq</h4>
                            <span class="testimonial-meta">34 Year</span>
                        </div>
                    </div>
                    <!--/. testimonial block -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <!-- testimonial block -->
                        <div class="testimonial-content">
                            <p class="testimonial-text">“Lorem ipsum dolor sitamet con sectetur adipiscing elitam neclis usce dignissim ex ac fermentum volutpat cras euismod natoque penatibus et magnis dis parturient montes nascetur ridiculus mus in tempor.”</p>
                        </div>
                        <div class="testimonial-info">
                            <h4 class="testimonial-name">Rose Jacq</h4>
                            <span class="testimonial-meta">34 Year</span>
                        </div>
                    </div>
                    <!--/. testimonial block -->
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title mb40 text-center">
                        <!-- section title start-->
                        <h1>Latest News &amp; Article</h1>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-4.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Free Physiotherapy Website Templates Download</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Fusce sed erat libasellus id orci quis ligula pretium congue idet imodo lectus velit, a malesuada urna sodales eu.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-5.jpg'%}"height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Hospital Website Templates FREE Download</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Proin fringilla turpis dui, ut semper sem cursus id. Nam id massa commodo, viverra nibh a, iaculis velit.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-6.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Free Website Templates for Physiotherapy</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Suspendisse quis ultrices felis. Nunc dictum justo sed libero cursus mattis. Phasellus vestibulum eleifend velit id ultricies.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}