{% extends 'client/common/layout.html'%}
{% load static %}

{% block content %}

<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title">Services</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
 
<div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-4.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Representing clients in negotiations  </a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Fusce sed erat libasellus id orci quis ligula pretium congue idet imodo lectus velit, a malesuada urna sodales eu.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-5.jpg'%}"height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Representing clients in court, arbitration</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Proin fringilla turpis dui, ut semper sem cursus id. Nam id massa commodo, viverra nibh a, iaculis velit.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-6.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title">Preparation of documents (include legal)</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Suspendisse quis ultrices felis. Nunc dictum justo sed libero cursus mattis. Phasellus vestibulum eleifend velit id ultricies.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
            </div>
        </div>
</div>

<div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-4.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Consultation for legal information and advice</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Fusce sed erat libasellus id orci quis ligula pretium congue idet imodo lectus velit, a malesuada urna sodales eu.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-5.jpg'%}"height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Consultation to review documents  </a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Proin fringilla turpis dui, ut semper sem cursus id. Nam id massa commodo, viverra nibh a, iaculis velit.</p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-img">
                            <a href="#"><img src="{% static 'client/images/portfolio-6.jpg'%}" height="200" width="360" alt="" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h2><a href="#" class="title"> Mediation, arbitration, or other third party services</a></h2>
                            <p class="meta"> <span class="meta-date"><i class="fa fa-calendar"></i> 1 January 2017</span> <span class="meta-comment"><i class="fa fa-comments"></i><a href="#">(12) Comments</a></span> </p>
                            <p>Suspendisse quis ultrices felis. Nunc dictum justo sed libero cursus mattis. Phasellus vestibulum eleifend velit id ultricies.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a> </div>
                    </div>
                    <!-- /.post block -->
                </div>
            </div>
        </div>
</div>
  

{% endblock %}